#teclado{
position:relative;
xoverflow:hidden;
z-index:90;
width:90px;
height:96px;
background-color: transparent;
text-align:center;
margin: 1 auto;
/* style="position:relative; left:0px; top:0px;  height:105 px; width:190 px; background-color:transparent;"*/
}


#teclado_full{
position:relative;
xoverflow:hidden;
z-index:100;
width:220px;
height:110px;
background-color: transparent;
text-align:center;
margin: 1 auto;
/* style="position:relative; left:0px; top:0px;  height:105 px; width:190 px; background-color:transparent;"*/
}

.button_off,.button_press{
-moz-border-radius:3px;
color:#5D5D5D;
font-family:Verdana;
height:24px;
width:24px !important;
font-weight:bold;
font-size:14px;
text-align:center;
border:2px solid;
border-top-color:#BABABA;
border-left-color:#BABABA;
border-right-color:#BABABA;
border-bottom-color:#BABABA;
background-color:#F3F3F3;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#D9D9D9',EndColorStr='#FFFFFF');
}

.button_offn,.button_pressn{
-moz-border-radius:3px;
color:#5D5D5D;
font-family:Verdana;
height:30px;
width:28px !important;
font-weight:bold;
font-size:14px;
text-align:center;
border:2px solid;
border-top-color:#BABABA;
border-left-color:#BABABA;
border-right-color:#BABABA;
border-bottom-color:#BABABA;
background-color:#F3F3F3;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#D9D9D9',EndColorStr='#FFFFFF');
}
.button_on{
-moz-border-radius:2px;
color:#5D5D5D;
font-family:Verdana;
height:23px;
width:23px !important;
font-weight:bold;
border-top-color:#4B93EA;
border-left-color:#4B93EA;
border-bottom-color:#4B93EA;
border-right-color:#4B93EA;
border-width:2px;
background-color:#D3E5FA;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#AACCF5',EndColorStr='#E4EFFC');
}

.button_onU{
-moz-border-radius:2px;
color:#5D5D5D;
font-family:Verdana;
height:30px;
width:28px !important;
font-weight:bold;
border-top-color:#4B93EA;
border-left-color:#4B93EA;
border-bottom-color:#4B93EA;
border-right-color:#4B93EA;
border-width:2px;
background-color:#D3E5FA;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#AACCF5',EndColorStr='#E4EFFC');
}

