@CHARSET "UTF-8";

body {
	margin: 0;
	border: 0;
	width: auto;
	height: auto;
}

#derechos{
	width: 100%;	 
	background-color:#4D4F53;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	position: fixed; 
	bottom:0;	
	vertical-align: middle;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}

.steps{
	padding-left: 10px;
}

.padd-title{
	padding-bottom: 10px;
	padding-top: 10px,
}

.wraper{
	
	background-color: #000;	
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */	
	z-index: 999999;
	position:absolute;	
}

.hidden{
	display:none;
}

.dummy{
	
}

