A:link {text-decoration:none;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;}


A:visited {text-decoration:none;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;}


A:active {text-decoration:none;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;}


A:hover {text-decoration:none;color:#993300;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold;} 


.bordeIzquierdo
{
	background-image:url(../images/linea_2.png);
	width:10px;
}

.bordeDerecho
{
	background-image:url(../images/linea_3.png);
	width:10px;
}

.bordeCentro
{
	background-image:url(../images/inferior_centro.png);
}

.bordeSuperiorDerecho
{
	background-image:url(../images/superior_derecha.png);
}

.bordeSuperiorCentro
{
	background-image:url(../images/superior_centro.png);
}

.derechos {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10px
}

.titulo1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
}

.titulo2
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

.bottom-line {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #AEAEAE;
}

.bienvenida
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}